<a href="https://colab.research.google.com/github/zareee12/Data-Scraping-with-Python/blob/main/Reza_Septian_SQL_for_DataStorage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Melakukan import library
import os
import psycopg2

In [ ]:
# Provide your Neon connection string
connection_string = "postgresql://exchange_rates_owner:MTA2tj3qONBQ@ep-shy-night-a1q12l5g.ap-southeast-1.aws.neon.tech/exchange_rates?sslmode=require"
# Connect using the connection string
connection = psycopg2.connect(connection_string)
# Create a new cursor object
cursor = connection.cursor()

In [ ]:
cursor

In [ ]:
# Execute this query to test the database connection
cursor.execute("SELECT 1;")
result = cursor.fetchone()
# Check the query result
if result == (1,):
    print("Your database connection was successful!")
else:
    print("Your connection failed.")

Your database connection was successful!

In [ ]:
create_table_sql = '''
CREATE TABLE items (
id BIGSERIAL PRIMARY KEY,
embedding Varchar(50)
);
'''

In [ ]:
# Insert data
insert_data_sql = '''
INSERT INTO items (embedding) VALUES ('[1,2,3]'), ('[4,5,6]'), ('[7,8,9]'),('[10,11,12]');
'''

In [ ]:
connection.close()

In [ ]:
# Execute the SQL statements
cursor.execute(create_table_sql)
cursor.execute(insert_data_sql)
# Commit the changes
connection.commit()

DuplicateTable: relation "items" already exists

In [ ]:
connection.close()

In [ ]:
# import library
import pandas as pd
data = pd.read_csv('exchange_rates_data.csv')

In [ ]:
data.head()

   Unnamed: 0       time_last_update_utc base_code currency      rate
0           0  2024-12-04 00:00:02+00:00       USD      USD    1.0000
1           1  2024-12-04 00:00:02+00:00       USD      AED    3.6725
2           2  2024-12-04 00:00:02+00:00       USD      AFN   68.1435
3           3  2024-12-04 00:00:02+00:00       USD      ALL   93.8178
4           4  2024-12-04 00:00:02+00:00       USD      AMD  399.1986

In [ ]:
create_table_sql = '''
CREATE TABLE exchange_rates (
id INT,
time_last_update_utc timestamp,
base_code VARCHAR(3),
currency VARCHAR(3),
rate NUMERIC(10,5)
);
'''

In [ ]:
# Execute the SQL statements
cursor.execute(create_table_sql)
# Commit the changes
connection.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [ ]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

db = create_engine(connection_string)
conn = db.connect()

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://exchange_rates_owner:MTA2tj3qONBQ@ep-shy-night-a1q12l5g.ap-southeast-1.aws.neon.tech/exchange_rates?sslmode=require')
data.to_sql(name='exchange_rates', con=engine, if_exists='replace')

162